.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    margin-bottom: 15px;
    width: 800px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--complementary-color);
}

.filter-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
