.todo-container {
    border-radius: 5px;
    background-color: var(--complementary-color);
    padding: 10px;
    width: 70%;
}

@media screen and (max-width: 880px) {
    .todo-container {
        width: 90%;
    }
}