* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
  
}

.primary-btn {
  border-style: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary-btn-color);
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
  -moz-box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
  box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
}

.secondary-btn {
  border-style: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--secondary-btn-color);
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
  -moz-box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
  box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
}


select {
  background-color: var(--secondary-btn-color);
  border-radius: 5px;
  border-style: none;
  padding: 10px 20px;
  -webkit-box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
  -moz-box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
  box-shadow: 8px 8px 7px -9px rgba(51, 53, 51, 1);
  cursor: pointer;
}